body{
    font-family: 'Island Moments', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
margin: 0;
}
/*------------------
heading section  
-------------------*/
.heading-part{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin-right: 10px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: #000;
}
nav li img{
    height: 20px;
    width: 20px;
}
/*------------- 
  Influencer section 
--------------- */
.top-div{
    margin-right: 100px;
}
.journey-part{
    display: flex;
    margin-top: 50px;
    margin-left: 220px;
    margin-right: 220px;
}
h1{
    font-size: 40px;
}
.influencer{
  margin-top:1px;
}
.prebook-tag a{
    text-decoration: none;
    color: white;

}
.prebook-tag{
    background-color:black;
    padding-top: 7px;
    text-align: center;
    height: 30px;
    width: 150px;
    border-radius: 20px;
}
/*-------------------------------- 
       collection section 
--------------------------------- */
h3{
    text-align: center;
    font-size: 25px;
}
.collections .collection-banner img{
    width: 300px;
    height: 256px;
}
.fa-star.filled{
    font-size: 12px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star-half-alt.empty{
    font-size: 12px;
}
.fa-star-half-alt.empty{
    color: #FB8200;
}
.ratings{
    display: flex;
}